  
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }
  

body  {
    margin: 0;
    padding: 0;
}

.navbar {

	display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    background-color:rgb(0, 0, 1)
}

.brand-title  {
    font-size: 1.5rem;
    margin:.5rem;
}

.navbar-links ul {
    margin:0;
    padding:0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    font-size: 1.1rem;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
   background-color:rgba(224, 79, 79, 0.801);
}

.toggle-button  {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;   /* if display is changed to changed to flex the hamburger will appear but we will leave it on none for the large screen  */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 550px)  {
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width:100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction:column;
    }

    .navbar-links li {
        text-align:center;
    }

    .navbar-links a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display:flex;
    }

}



/*about css */



h1{
font-family: 'Roboto', sans-serif;
    font-size: 5ex;
    color:rgb(13, 13, 14);
display: flex;
justify-content: center;
height: 100px;
}
  
  #Us p{
    font-family: 'Roboto', sans-serif;
    font: bold;
    color: rgb(13, 13, 14);
    font-size: 3ex;
    margin-bottom: 3em;
  }
  
  #OurTeam h2 {
    color: rgb(13, 13, 14);
    font-family: 'Roboto', sans-serif;
    font-size: 5ex;
    display: flex;
    justify-content: center;
    height: 100px;
  }
  
  #teammember{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  #member {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3ex;
    font-family: 'Roboto', sans-serif;
    height: 100px;
  }
  
  #visit a {
    margin-left: 600px;
    color: rgb(250, 37, 73);
    font-family: 'Roboto', sans-serif;
    font-size: 3ex;
    text-decoration: none;
  }


  #visit p{
      height: 100px;
  }

  /*footer css*/

  .footer {
    position:relative;
    bottom:0;
    left:0;
    width:100%;
    height: 90px;
    background-color: rgb(13, 13, 14);
  }

  .footer-text-left {
    font-size:15px;
    padding-left:40px;
    float:left;
    word-spacing:20px;
}


.footer a{
    color: white;
    text-decoration: none;
    font-size: 3ex;
}
  a.menu:hover {
    background-color:rgba(228, 22, 22, 0.801);
    font-size:20px;
    color: white;
    text-decoration: none;
  }

  
  