body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }
  
  
body  {
    margin: 0;
    padding: 0;
}

.navbar {

	display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    background-color:rgb(0, 0, 1)
}

.brand-title  {
    font-size: 1.5rem;
    margin:.5rem;
}

.navbar-links ul {
    margin:0;
    padding:0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    font-size: 1.1rem;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
   background-color:rgba(224, 79, 79, 0.801);
}

.toggle-button  {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;   /* if display is changed to changed to flex the hamburger will appear but we will leave it on none for the large screen  */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 550px)  {
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width:100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction:column;
    }

    .navbar-links li {
        text-align:center;
    }

    .navbar-links a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display:flex;
    }

}


  /*CURRENT EXHIBITION CSS*/

  * {box-sizing:border-box}

  /* Slideshow container */
  #slideshow-container {
    max-width: 1000px;
    position: relative;
margin:auto;
  }
  
  /* Hide the images by default */
  #mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 70%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 8px 0 0 8px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


  h3{
    color: rgb(252, 2, 2);
    font-family: 'Barlow', sans-serif;
    font-size: 5ex ;
    padding: 50px 60px 0;
  }
  
  #text1 p{
    font-family: 'Barlow', sans-serif;
  font: bold;
  color: rgb(13, 13, 14);
  font-size: 3ex;
  padding: 10px 60px;
  }
  
  #aboutartist h4 {
    color:rgb(13,13,14);
    font-family: 'Barlow', sans-serif;
    font-size: 5ex;
    padding: 20px 60px 0;
  }
  
  #text2 p{
  font-family: 'Barlow', sans-serif;
  font: bold;
  color: rgb(13, 13, 14);
  font-size: 3ex;
  padding: 10px 60px;
  }
  
  #artistphoto {
    display: flex;
    justify-content: center;
    margin: 3em;
  }

  #upcoming a {
    color: rgb(252, 2, 2);
    font-family: 'Barlow', sans-serif;
    font-size: 3ex ;
    text-decoration: none;
    text-align: center; 
    display: flex;
    justify-content: center;  
    margin: 3em; 
  }
  
 

  /*UPCOMING EXHIBITION CSS */
  
  h6{
    font-family: 'Barlow', sans-serif;
    font-size: 5ex ;
    color: rgb(252,2,2);
    padding: 50px 60px 0;
    margin: 0%;
  }

  #upcomingtext1 {
    font-family: 'Barlow', sans-serif;
    font: bold;
    color: rgb(13, 13, 14);
    font-size: 3ex;
padding: 10px 60px;
  }

  #upcomingabout{
    font-family: 'Barlow', sans-serif;
    font-size: 3ex ;
    color: rgb(13,13,14);
    padding: 20px 60px 0;
  }
  
  

  #upcomingtext2 p {
    font-family: 'Barlow', sans-serif;
    font: bold;
    color: rgb(13, 13, 14);
    font-size: 3ex;
padding: 10px 60px ;
  }

 
  .upcomingartist {
    display: flex;
    justify-content: center;
    margin: 3em;
  }
  
  #exhibition a {
    color: rgb(252, 2, 2);
    font-family: 'Barlow', sans-serif;
    font-size: 3ex ;
    text-decoration: none;
display: flex;
justify-content : center;  
margin: 3em;
}
  
  /*footer css*/

  .footer {
    position:relative;
    bottom:0;
    left:0;
    width:100%;
    height: 90px;
    background-color: rgb(13, 13, 14);
    font-family: 'Barlow' , sans-serif;
  }

  .footer-text-left {
    font-size:15px;
    padding-left:40px;
    float:left;
    word-spacing:20px;
}


.footer a{
    color: white;
    text-decoration: none;
    font-size: 3ex;
}
  a.menu:hover {
    background-color:rgba(228, 22, 22, 0.801);
    font-size:20px;
    color: white;
    text-decoration: none;
  }
