

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.myNav {
  display: block;
  height: 50px;
  line-height: 50px;
}

.myNav ul {
  list-style:none;
  padding: 0;
  margin: 0;
}

.myNav li {
  
  float: right;
  font-size: x-large;

}

.myNav li a {
  
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #050505;
}

#header {
  height: 500px;
  background-image: url("https://artfiles.alphacoders.com/681/68159.jpg");
  place-items: center;
}

.myNav li a.active {
  background-color: #050505;
}

#main-content h3 {
color: rgb(248, 1, 1);
font-family :'Roboto', sans-serif;
font-size: 8ex ;
}

h2 {

font-family :'Roboto', sans-serif;
font-size: 60px ;

}

#Wonderful {
  color: rgb(252, 0, 0);
  font-family: 'Roboto', sans-serif;
  font-size: 5ex ;
}

#dates {
padding-left: 450px;  
color: rgb(247, 4, 4);
  font-family: 'Roboto', sans-serif;
  font-size: 3ex;
}


#ticket a {
  margin-left: 550px;
  color: rgb(3, 3, 3);
  font-family: 'Roboto', sans-serif;
  font-size: 3ex;
  text-decoration: none;
}


