

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}


/* NavBar */

body  {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  background-color:rgb(0, 0, 0)
}

.brand-title  {

  font-size: 1.3rem;
  margin:.5rem;
  color: rgb(255, 255, 255);
}

.navbar-links ul {
  margin:0;
  padding:0;
  display: flex;
}

.navbar-links li {
  list-style: none;
  font-size: 1.1rem;
}

.navbar-links li a {
  text-decoration: none;
  color: rgb(255, 253, 253);
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
 background-color:rgba(213, 101, 101, 0.801);
}

.toggle-button  {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;   /* if display is changed to changed to flex the hamburder will appear but we will leave it on none for the large screen  */
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

@media (max-width: 550px)  {
  
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }
  
  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width:100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction:column;
  }

  .navbar-links li {
      text-align:center;
  }

  .navbar-links a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display:flex;
  }

}

#main-content h3 {
color: rgb(248, 1, 1);
font-family :'Roboto', sans-serif;
font-size: 8ex ;
}


#Wonderful {
  color: rgb(252, 0, 0);
  font-family: 'Roboto', sans-serif;
  font-size: 5ex ;
}

#dates {
padding-left: 450px;  
color: rgb(247, 4, 4);
  font-family: 'Roboto', sans-serif;
  font-size: 3ex;
}


#ticket a {
  margin-left: 550px;
  color: rgb(3, 3, 3);
  font-family: 'Roboto', sans-serif;
  font-size: 3ex;
  text-decoration: none;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* submit button with a red background color etc */
input[type=submit] {
  background-color: #fa1f02;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button > a darker red color */
input[type=submit]:hover {
  background-color: #ec0a02;
}

/* background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #ececec;
  padding: 20px;
}
