*   {
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

/* NavBar */

body  {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    background-color:rgb(0, 0, 0)
}

.brand-title  {

    font-size: 1.3rem;
    margin:.5rem;
    color: rgb(255, 255, 255);
}

.navbar-links ul {
    margin:0;
    padding:0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    font-size: 1.1rem;
}

.navbar-links li a {
    text-decoration: none;
    color: rgb(255, 253, 253);
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
   background-color:rgba(213, 101, 101, 0.801);
}

.toggle-button  {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;   /* if display is changed to changed to flex the hamburder will appear but we will leave it on none for the large screen  */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

@media (max-width: 550px)  {
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width:100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction:column;
    }

    .navbar-links li {
        text-align:center;
    }

    .navbar-links a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display:flex;
    }

}

/* CONTENT */
  
  
  .container {
    text-align: center;
    max-width: 70%;
    margin: 0 auto ; 
  }

  .banner {

    width: 100%;
    height: 400px;
    margin-top: 60px;
    background-image: url("https://images.unsplash.com/photo-1565105337533-d23f47c0fd58?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  
  }
  .container h1 {
    color: rgb(0, 0, 0);
  font-size: 3ex ;
  }
    
  .container h2 {
    font-size: 3.5ex ;
    }
  
  .container h3 {
      font-size: 2.5ex ;
      }
  
  .tickets { 
    font-size: 2ex;
  }
  
  